/bin/
!src/maps/nodes.txt
!src/maps/edges.txt
*.class
.settings/
.classpath
.project
docs/
icons/
installer/
launchers/
freezedried_data/
integration/
repast-licenses
*.properties
*.log
*.log.1
*.settings
.temp/
output/*.jar