/bin/
*.txt
!src/maps/nodes.txt
!src/maps/edges.txt
*.class
.settings/
.classpath
.project
batch/
docs/
icons/
installer/
launchers/
freezedried_data/
integration/
repast-licenses
*.properties
*.log
*.settings
output/
.temp/